body{
    background-image: url(https://encrypted-tbn0.gstatic.com/https://free4kwallpapers.com/uploads/originals/2015/07/14/backgrounds,-background,-cute,-desktop,-wallpapers,-black.jpg?q=tbn%3AANd9GcT-p8LxX2Xxpz8dOZptZ4HhbbM74xa1lrOd9A&usqp=CAU);
    color: white;
    margin: 0%;
    padding: 0%;
}
.table_data{
    width: 90%;
    text-align: left;

}
.firstChild{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
input{
    margin: 5px;
    border: 0px;
    border-radius: 3px;
    width: 30%;
}
.btns{
    border: none;
    margin: 5px;
    color: white;
    background-color: darkblue;
    width: 100px;
    border-radius: 5px;
    transition: 0.4s;
}
.btns:hover{
    color: darkblue;
    background-color: white;
}
.editBtn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}
.DeleteBtn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}

.DeleteBtn:hover{
    background-color: white;
    color: red;
    transition: 0.4s;
}

.editBtn:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
}

.container{
    text-align: center;
    width: 100%;
}
#table-input{
    margin: 3% 30% 0% 30%;
}

@media screen and (max-width: 850px) {
    input{
     width: 50%;
    }
    #table-input{
        margin: 2% 15% 2% 15%;
    }
}
@media screen and (max-width: 485px) {
    input{
        width: 90%;
       }
    #table-input{
        margin: 2% 15% 2% 15%;
    }
}
@media screen and (max-width: 430px) {
    #table-input{
        margin: 2% 10% 2% 10%;
    }
}
@media screen and (max-width: 350px) {
    #table-input{
        margin: 2% 3% 2% 3%;
    }
}